*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;

  background-color: var(--color-bg-body);
}

html,
body {
  scrollbar-gutter: stable;
}

.container {
  max-width: 144rem;
  margin: 0 auto;

  padding-inline: 4rem;
}
