.nav {
  flex: 1;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li ul {
      display: flex;
      gap: 4rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      position: relative;
      display: flex;
      align-items: start;
      gap: 0.8rem;

      font-size: 1.6rem;
      font-weight: 600;
      line-height: 160%;

      text-decoration: none;
      color: var(--color-text-dark);
      transition: all 0.3s;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 0.2rem solid var(--color-border-dark);
      transition: all 0.3s;
      transform: scaleX(0);
    }

    &--active:link:after,
    &--active:visited:after,
    &:hover:after,
    &:active:after {
      transform: scaleX(1);
    }

    &--active:link,
    &--active:visited {
      pointer-events: none;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }
}
