.nav {
  @include respond(tablet-port) {
    position: fixed;
    z-index: 1000;
    top: 10rem; // header height
    left: 0;
    width: 100%;
    transform: translateX(100%);
    transition: all 0.3s;

    // subtract header height
    height: calc(100vh - 10rem);

    background-color: var(--color-bg-body);
  }

  &__list {
    display: flex;
    gap: 4rem;

    @include respond(tablet-port) {
      flex-direction: column;
      align-items: center;
      gap: 6rem;

      padding-block: 6rem;
      height: 100%;
    }

    .nav__item--menu {
      display: none;

      @include respond(tablet-port) {
        display: block;
        margin-top: 4rem;
      }
    }
  }

  &__link,
  .menu-link {
    &:link,
    &:visited {
      position: relative;
      display: flex;
      align-items: start;
      gap: 0.8rem;

      font-size: 1.6rem;
      font-weight: 600;
      line-height: 160%;

      text-decoration: none;
      color: var(--color-text-dark);
      transition: all 0.3s;

      @include respond(tablet-port) {
        font-size: 3.2rem;
        line-height: 125%;
        gap: 1.6rem;
      }
    }

    // underline hover effect
    &::after {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      border-bottom: 0.2rem solid var(--color-border-dark);
      transition: all 0.3s;
      transform: scaleX(0);

      @include respond(tablet-port) {
        border-width: 0.3rem;
      }
    }

    &:hover:after,
    &:active:after {
      transform: scaleX(1);

      // disable hover effect on touch devices
      @media (hover: none) {
        transform: scaleX(0);
      }
    }
  }
}

.menu-link {
  &:link,
  &:visited {
    position: relative;

    // show link inside nav
    @include respond(tablet-port) {
      display: none;
    }
  }

  &--active:link,
  &--active:visited {
    // always underlined
    padding-bottom: 0.5rem;
    &::after {
      transform: scaleX(1);
      border-width: 0.3rem;
    }
    pointer-events: none;
  }

  svg {
    width: 2rem;
    height: 2rem;

    @include respond(tablet-port) {
      width: 4rem;
      height: 4rem;
    }
  }
}

.header.nav-open {
  @include respond(tablet-port) {
    .nav {
      transform: translateX(0);
    }
  }
}

.btn-nav {
  @extend %btn;
  display: none;

  width: 4.4rem;
  height: 4.4rem;
  background-color: transparent;
  border: 0.1rem solid var(--color-border-dark);

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 1.6rem;
    left: 50%;
    width: 1.8rem;
    border: 1px solid var(--color-text-dark);

    transform: rotate(0deg) translate(-50%, 0);

    transition: all 0.3s;
  }

  &::after {
    content: "";
    position: absolute;

    bottom: 1.6rem;
    left: 50%;
    width: 1.8rem;
    border: 1px solid var(--color-text-dark);

    transform: rotate(0deg) translate(-50%, 0);

    transition: all 0.3s;
  }

  @include respond(tablet-port) {
    display: block;
  }
}

.header.nav-open {
  .btn-nav {
    &::before {
      transform: rotate(-45deg) translate(-50%, -0.3rem);
    }

    &::after {
      transform: rotate(45deg) translate(-50%, 0.3rem);
    }
  }
}

body:has(.header.nav-open) {
  overflow: hidden;
}
