%btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;

  width: 20rem;
  padding-block: 2rem;
  border-radius: 100rem;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 150%;
  transition: all 0.3s;

  text-decoration: none;
  color: var(--color-text-dark);

  cursor: pointer;
}

.btn-primary {
  &,
  &:link,
  &:visited {
    @extend %btn;

    background-color: var(--color-bg-body);

    svg {
      transition: all 0.3s;
      max-width: 0;
      height: 2rem;

      @media (hover: none) {
        max-width: 2rem;
      }
    }
  }

  &:hover,
  &:active {
    svg {
      max-width: 2rem;
    }
  }
}

.btn-icon {
  &,
  &:link,
  &:visited {
    @extend %btn;

    width: 6rem;
    height: 6rem;
    aspect-ratio: 1;

    background-color: transparent;
    border: 1px solid var(--color-border-dark);

    svg {
      width: 2.4rem;
      height: 2.4rem;
      stroke: var(--color-text-dark);
    }
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      background-color: var(--color-bg-container);

      svg {
        stroke: var(--color-text-light);
      }
    }

    &--light:hover,
    &--light:active {
      background-color: var(--color-bg-body);
      border-color: var(--color-bg-body);

      svg {
        stroke: var(--color-text-dark);
      }
    }
  }

  &--light:link,
  &--light:visited {
    border-color: var(--color-text-light);

    svg {
      stroke: var(--color-border-light);
    }
  }
}

.btn-appstore {
  &,
  &:link,
  &:visited {
    @extend %btn;
    padding: 1.2rem 2rem;

    display: grid;
    grid-template-columns: 3.6rem 1fr;
    column-gap: 0.8rem;
    row-gap: 0;

    border: 1px solid var(--color-border-dark);

    svg {
      color: var(--color-text-dark);
    }
  }

  @media (hover: hover) {
    &:hover,
    &:active {
      background-color: var(--color-bg-container);
      color: var(--color-text-light);

      svg {
        color: var(--color-text-light);
      }
    }
  }

  &__icon {
    grid-row: 1/3;
    width: 3.6rem;
    height: 3.6rem;
  }

  &__caption {
    grid-column: 2/3;
  }

  &__title {
    grid-column: 2/3;
  }
}

.btn-tab {
  @extend %btn;
  width: auto;
  padding: 0.8rem;
  padding-right: 1.6rem;

  border: 1px solid var(--color-border-light);
  background-color: transparent;

  img {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 100rem;

    background-color: var(--color-border-light);
  }

  &:hover,
  &:active,
  &--active {
    color: var(--color-text-light);
    border-color: var(--color-border-dark);
    background-color: var(--color-border-dark);

    img {
      background-color: var(--color-bg-body);
    }
  }

  &--active {
    pointer-events: none;
  }
}
