.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.6rem;

  background-color: var(--color-bg-body);
  border: none;
  border-radius: 4rem;

  width: 80rem;

  @include respond(tablet-port) {
    width: 68.8rem;
  }

  @include respond(phone-sm) {
    width: 34.2rem;
  }

  &::backdrop {
    background: rgba(65, 64, 62, 0.8);
  }

  &__content {
    grid-column: 1/-1;
  }

  &__form {
    display: grid;
    grid-template-columns: calc(34rem - 3.2rem) 1fr;
    flex-direction: column;
    gap: 2rem;

    @include respond(phone-lg) {
      grid-template-columns: 1fr;
    }
  }

  &__close {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;

    @include respond(phone-lg) {
      grid-column: 1/-1;
    }
  }
}

body:has(.modal[open]) {
  overflow: hidden;
}
